    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    /* Style for Over Menu */
    .menu {
      background-color: #1271e6;
      padding: 5px;
      box-sizing: border-box;
      justify-content: center;
      display: flex;    /* Lodrätt*/
      flex-wrap: wrap;
      gap: 100px;
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Style for Under Menu */
    .footer {
      background-color: #1271e6;
      padding: 5px;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 100px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .menu a, .footer a {
      color: white;
      padding: 15px;
      text-decoration: none;
      display: block;
      background-color: #268ef0;
      border-radius: 5px;
      text-align: center;
      display: inline-block;
      font-size: 15px; 
      width: 110px;
      height: 40px;
      }

    .menu a:hover, .footer a:hover {
      background-color: #76b7f5;
    }

    /* Style for the right content */
    .content {
      flex-grow: 1;
      padding: 20px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 80px;                /* justera till din header-höjd */
      bottom: 90px;       
      background-image:url('image114.png');    
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;      
    }

    /* Hide all pages initially */
    .page {    
      display: none;
    }

    /* Show the page that is active */
    .page.active {
      display: block;
      text-align: center;
    }

    #Main_Menu.active {
      background-image:url('image114.png');    
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    #settings.active {
      background-color: aliceblue;
      width: 400px;   /* exempel: gör den bredare */
      height: 300px;  /* exempel: gör den högre */
      font-size: 20px; /* för större text */
      padding: 20px; /* mer utrymme inom */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #instructions.active {
      background-color: aliceblue;
      width: 400px;   /* exempel: gör den bredare */
      height: 300px;  /* exempel: gör den högre */
      font-size: 20px; /* för större text */
      padding: 20px; /* mer utrymme inom */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #high_scores.active {
      background-color: aliceblue;
      width: 400px;   /* exempel: gör den bredare */
      height: 300px;  /* exempel: gör den högre */
      font-size: 20px; /* för större text */
      padding: 20px; /* mer utrymme inom */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
