body {
  margin: 0;
  height: 100vh; /* full höjd */
  position: relative;
    }

    body::before {
  content: "";
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background-image: url('Icons/image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* lägg bakom alla element */
}

    /* Style for the left menu */
    .menu {
      justify-content: space-evenly;
      align-items: center;
      display: flex;    /* Lodrätt*/
      position: fixed;
      bottom: 0;
      /* gap: 0px; put space between items */
      width: 100%;
      top: 0;
      height: 130px;
    }

    .footer-tabs {
      /* background-color: #333; */
      justify-content: space-evenly;
      align-items: center;
      display: flex;    /* Lodrätt*/
      position: fixed;
      bottom: 0;
      /* gap: 0px; put space between items c96300 #23cf3b  */
      width: 100%;
      height: 130px;
    }

    .footer-tabs a, .menu a {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
      flex-shrink: 1;
      width: 235px;
      font-size: 35px;
      height: 100px;
      color: #ffffff;
      border-radius: 10px;
      background: linear-gradient(90deg, #3accfe 0%, #23cf3a77 50%, #34c8ff 100%)
    }

    .menu span, .footer-tabs span {
  font-family: 'Cambria Math', 'STIX Two Math', 'Times New Roman', serif;
  font-size: 32px;
}

    .menu a:hover, .footer-tabs a:hover {
      background: #45a049;
      cursor: pointer;

    }

    /* Style for the right content */
    .content {
      width: 100%;
      position: fixed;
        /* centrera innehållet */
      display: grid;
      grid-template-rows: auto auto auto auto auto; /* 4 rader */
    place-items: center;   /* = align-items + justify-items */
      top: 130px;    
      bottom: 130px;            /* justera till din header-höjd */
    }

    /* Hide all pages initially */
    .page {
      display: none;
    }

    /* Show the page that is active */
    .page.active {
      display: block;
      text-align: center;
      background: azure;
      border-radius: 40px;
      width: 90%;
      height: 90%;
      grid-row: 1 / 6;
      overflow: auto;

    }

        .page.active2 {
      display: block;
      text-align: center;
      grid-row : 3 / 5;

    }

    #Main_Menu button {
      font-size: 45px;
      padding: 35px;
      border: none;
      border-radius: 24px;
      background-color: #ffffff; /* Grön bakgrund */
      color: #4CAF50; /* Vit text */
      cursor: pointer;
      transition: background-color 0.3s ease;

      animation: fadeIn 0.5s ease-in-out  infinite alternate;

      &:hover {
        background-color: #45a049; /* Mörkare grön vid hover */
        color: #ffffff;
        animation: none;
      }
    }

    table#scores-list {
      border-collapse: collapse;
      width: 95%;
      display: inline-table;
      margin-bottom: 20px;
    }

    table#scores-list th, table#scores-list td {
      border: 2px solid #45a049b0;
      padding: 8px;
      text-align: left;
      font-size: 24px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); */
        }

      table#scores-list th {
       text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
       background-color: #45a049b0;
       color: #ffffff;
        }

    table#scores-list tbody tr:nth-child(even) td{
      background-color: #9ca09c4d;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }


    #exitBtn {
  background: #ff2700de;
  color: white;            /* optional for text */
  transition: background 0.3s ease;
}

#exitBtn:hover {
  background: #45a049;
  color: #000;             /* text turns black when hovered */
}


        h1 {
            font-size: 3rem;
            text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
            animation: gradient 3s ease infinite;
        }
        
        @keyframes gradient {
            0% { color: #34c8ff; }
            50% { color: #f8ab00; }
            100% { color: #34c8ff; }
        }

        #instructions p {
          font-size: 24px;
          line-height: 1.6;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        #settings label {
          font-size: 24px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
                }

        .checkbox-container, .checkbox-container label {
          display: flex;
          justify-content: center;
        align-items: center; 
      cursor: pointer;    } 
                
                        
.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::after {
    content: '';
    width: 1em;
    height: 1em;
    margin-top: 2px;
    border-radius: .15em;
    border: .05em solid #000;
}


.checkbox-container label:has(input[type='checkbox']:focus)::after {
  box-shadow: 0 0 20px black;
}

.checkbox-container label:has(input[type='checkbox']:checked)::after {
  content: '✔';
  background-color: #27AE60;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
